- content_for :title, "JMP: eSIM Adapter"
scss:
	img[src$="fdroid.webp"], img[src$="google_play.webp"] {
		max-height: 3em;
		display: block;
		margin: auto;
	}

	p > small { display: block; text-align: center; }

	.price {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		background: #84C7F7;
		color: #1E0036;
		border-radius: 2em;
		padding: 1em;
		margin: auto;
		margin-bottom: 1em;
		font-weight: bold;
		font-size: 1.2em;
		text-decoration: none;
		transition: color 0.25s ease-in-out;
	}

markdown:
	# eSIM Adapter

	JMP's eSIM Adapter is a device that acts exactly like a SIM card and will work in any device that accepts a SIM card (phone, tablet, hotspot, USB modem), but the credentials it offers come from eSIMs provided by you. With the adapter, you can use eSIMs from any provider in any device, regardless of whether the device or OS support eSIM. It also means you can move all your eSIMs between devices easily and conveniently. It’s the best of both worlds: the convenience of downloading eSIMs along with the flexibility of moving them between devices and using them on any device.

	# Check Device Compatibility

	While the eSIM Adapter will work as a SIM card in any device, the easiest way to add eSIM Profiles is using [our management app for Android](/esim-adapter/manager), you can install this app and then do a compatibility check before ordering.

	[![Get it on F-Droid](/static/fdroid.webp)](https://f-droid.org/en/packages/chat.jmp.simmanager/)
	[![Get it on Google Play](/static/google_play.webp)](https://play.google.com/store/apps/details?id=chat.jmp.simmanager)

	# Do I Have to Use the App?

	The app is not required to use the adapter, and swapping the adapter into another device will work fine. What if you want to switch eSIMs without putting the card back into an Android device? No problem; as long as your other device supports the [standard SIM Toolkit menus](/esim-adapter/stk), you will be able to switch eSIMs on the fly.

	If you have a supported Linux Mobile device you can also use the [eSIM Manager for Linux Mobile](https://codeberg.org/lucaweiss/lpa-gtk).

	To **add** eSIM Profiles without the app you will need to use a USB reader from a computer along with a tool like [lpac](https://github.com/estkme-group/lpac), [EasyLPAC](https://github.com/creamlike1024/EasyLPAC), or [iLPA for iOS](https://apps.apple.com/us/app/ilpa/id6504213575). This reader can be included in your order.

	# How many eSIM profiles can I store?

	We don't artificially limit the number of profiles with any tricks to deprive you of the full functionality of the hardware. The storage capacity is 420KB and you can store as many profile as will fit in that space. Profiles from different carriers vary in size.

	# Order Now

p
	' The device is
	- if canada?
		<abbr title="Canadian Dollars">$</abbr>54.99
	- else
		<abbr title="US Dollars">$</abbr>39.99

	'  with

	- if canada?
		<abbr title="Canadian Dollars">$</abbr>10.00 shipping to Canada.
	- else
		<abbr title="US Dollars">$</abbr>5.00 shipping to USA.

	'  International shippping is often a similar price to the USA. USB readers, if needed, can be added to your order for

	- if canada?
		<abbr title="Canadian Dollars">$</abbr>13.50.
	- else
		<abbr title="US Dollars">$</abbr>10.00.

a.price href="https://pay.jmp.chat/esim-adapter" Begin order
p: small Existing JMP Customers can pay from their balance by <a href="/faq#support">contacting support</a>.
