markdown:
	# How to switch your JMP account from PayPal to credit card

	JMP is encouraging people who currently pay for JMP using a PayPal subscription to switch to our new billing system. The new billing system provides a number of benefits over PayPal, including the ability to pay for services like [international calling](/pricing), extra minutes beyond those included in your plan, the [JMP Data Plan](/sim), and more. All customers who pay by Bitcoin or other manual payment have been migrated to this system already. We are now also providing incentives for those using a PayPal subscription to move over as well.

	In particular, customers who migrate from a PayPal subscription to our new billing system (using a credit card with auto top-up) will receive a $10 account credit.

	To switch, talk to [the bot](faq#bot) and send the command `migrate billing`.  The command will walk you through setting up the new billing system.  When done, be sure to cancel your old JMP subscription [at PayPal](https://www.paypal.com/myaccount/autopay/), then [contact support privately](faq#support) to receive your free month of service — be sure to mention if you were a PayPal monthly or annual subscriber and include your PayPal email address.

	**Annual subscribers must contact support as part of this migration! Failure to do so could result in missing credit.**
