- content_for :title, "JMP: Get a Jabber ID"
- content_for :head do
	scss:
		a > img {
			height: 5em;
		}

		small { display: block; max-width: 50em; }

		body > section {
			margin-top: 2em;

			ul {
				padding: 0;

				li {
					padding: 0;
					list-style-type: none;
					display: inline-block;

					a {
						display: inline-block;
						height: 5em;
						overflow: hidden;
						margin-right: 0.5em;
					}
				}
			}
		}

		a[href="https://gajim.org/download/"] {
			background: #000;
			border-radius: 1em;
			outline: 0.13em solid #888;
			text-decoration: none;
			color: #fff;
			padding-left: 0.5em;

			img {
				height: 4em;
				position: relative;
				top: 0.5em;
			}

			span {
				font-size: 2em;
				padding-right: 0.5em;
				padding-left: 0.25em;
				position: relative;
				top: -0.4em;
			}
		}

		#continue a {
			font-size: 3em;
			text-decoration: none;
		}

section
	h1 = "Set up a new Jabber ID for #{tel}"
	p A Jabber ID is an account identifier similar to an email address. It is what you will log into your app with and how you will send and receive text messages with your new phone number. You can use a Jabber ID from any standards-compliant service with JMP. Most apps will walk you through setting up an account after you install them, then come back here to continue.

section
	h1 For iOS Users

	markdown:
		[Contact support](/faq#support) to get set up with a [Snikket instance](https://snikket.org/hosting/) on your own domain or a free subdomain. This will also get you the app and a Jabber ID, after which you can proceed with getting your phone number.


section
	h1 For Android Users

	p You don't need this web-based setup at all, you can get the Cheogram app and when prompted select JMP, then search for a phone number in the app.

	ul
		li
			a target="_blank" href="https://f-droid.org/en/packages/com.cheogram.android/"
				img src="../../static/fdroid.webp" alt="Get it on F-Droid"
		li
			a target="_blank" href="https://play.google.com/store/apps/details?id=com.cheogram.android.playstore"
				img src="../../static/google_play.webp" alt="Get it on Google Play"

section
	h1 For Desktop / Laptop

	p Any standards-compliant Jabber app on any platform will work.

	ul
		li
			a target="_blank" href="https://apps.apple.com/us/app/beagleim-by-tigase-inc/id1445349494"
				img src="../../static/mac_appstore.svg" alt="Get it on the Mac AppStore"
		li
			a target="_blank" href="https://github.com/LAGonauta/dino/releases"
				img src="../../static/microsoftstore.svg" alt="Get it from Microsoft"
		li
			a target="_blank" href="https://gajim.org/download/"
				img src="../../static/gajim-logo.webp" alt=""
				span Gajim

section
	h1 Other? Stuck?

	div: a href="https://xmpp.is/account/register/xmpp_chat/" target="_blank" Get one on XMPP.chat
	div: a href="/faq#support" target="_blank" Contact JMP Support
	small Note that some of these services, including XMPP.chat, start in a configuration meant for use with one device at a time. <a href="/faq#support">Ask support</a> about configuration for multiple devices if you have any issue.


section#continue
	h1 Get your new number

	a href=".?#{request.query_string}" Continue ➡
